body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  margin: -32px 4px 4px 4px;
  text-align: center;
  font-family: palatino;
  font-size: 20px;
}
h2 {
  text-align: center;
  font-family: palatino;
  font-size: 48px;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.sticky-container {
  .filler {
    width: 100%;
    height: 50px;
  }
}

.image-container {
  height: 200px;
  width: 750px;
  margin: 20px auto 20px;
  text-align: center;
  display: block;
  z-index: -1;
  position: sticky;
  top: 0;

  @media screen and (max-width: 1000px) {
    margin: 0px auto 60px;
    width: 75%;
    height: 0px;

  }

}

.textbox {
  display: block;
  margin: 30vh auto 80vh;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
  height: 36px;
  border: 2px solid #f3f3f3;
  padding: 20px 40px;
  background-color: white;
  opacity: 0.85;
  font-size: 24px;
  font-family: palatino;

  @media screen and (max-width: 600px) {
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 20px;
  }

  :global(p) {
    margin-bottom: 0 !important;
  }

}

p {
  width: 75%;
  text-align: left;
  margin: 24px auto;
  font-family:palatino;
  font-size: 18px;

  @media screen and (max-height: 700px) {
    padding-top: 72px;
  }
  
  &.caption {
    margin: -12px auto;
  }

}

.caption {
  text-align: center;
  color: gray;
  line-height: 50px;
}

.App {
  text-align: center;
  width: 750px;
  margin: 20px auto 20px;
  text-align: center;
  display: block;

  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
footer {
  bottom: 0;
  top: auto;
  display: block;
  text-align: left;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
